<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="col-sm-3">
    <h2 class="title" th:text="'Pinjaman berhasil diubah'"></h2>
    <br>
<!--    <a th:href="@{/pinjaman/view-all}">Kembali ke Halaman Utama</a>-->
    <form th:action="@{/pinjaman/view-all/}">
        <button type="submit" class="btn btn-sm btn-secondary">Halaman Utama</button>
    </form>
</div>

</body>
</html>