<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<title>Pinjaman</title>
  
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
		<div>
			<nav th:replace="fragments/fragment :: navbar"></nav>
		</div>
		<div class="col-sm-3"></div>
		<div class="container-fluid col-sm-6 main-cont">
			<h2 style="background: rgb(180,58,77); background: linear-gradient(90deg, rgba(180,58,77,1) 0%, rgba(253,29,29,0.6222864145658263) 50%, rgba(252,176,69,1) 100%); margin-top: 10px; margin-bottom: 10px; padding: 10px; color: white;">Detail Pinjaman</h2>
			<div class="row">
				<div class="col-sm-5">Tanggal Pengajuan</div>
				<div class="col-sm-7">
					<p th:text="${#dates.format(pinjaman.tanggalPengajuan, 'yyyy-MM-dd')}"></p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-5">Tanggal Disetujui</div>
				<div class="col-sm-6">
					<p th:text="${#dates.format(pinjaman.tanggalDisetujui, 'yyyy-MM-dd')}"></p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-5">Tanggal Pengembalian</div>
				<div class="col-sm-6">
					<p th:text="${#dates.format(pinjaman.tanggalPengembalian, 'yyyy-MM-dd')}"></p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-5">Jumlah Pinjaman</div>
				<div class="col-sm-6">
					<p th:text="${pinjaman.jumlahPinjaman}"></p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-5">Jumlah Pengembalian</div>
				<div class="col-sm-6">
					<p th:text="${pinjaman.jumlahPengembalian}"></p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-5">Status</div>
				<div class="col-sm-6">
					<span th:if="${pinjaman.status == 0}">Belum Disetujui</span>
					<span th:if="${pinjaman.status == 1}">Disetujui</span>
					<span th:if="${pinjaman.status == 2}">Sudah Dikembalikan</span>
				</div>
			</div>
		</div>
		<div class="col-sm-3"></div>
	</body>
</html>