<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Detail Data Anggota</title>
    <!--<head>-->
        <!--<link rel="stylesheet" th:href="@{/css/detail-anggota.css}">-->
    <!--</head>-->

    <head>
        <title>Detail Anggota</title>
      
        <object th:include="fragments/fragment :: css" th:remove="tag"></object>
        <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    </head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="col-sm-3"></div>
<div class="container-fluid col-sm-6 main-cont">
    <h2 style="background: rgb(180,58,77); background: linear-gradient(90deg, rgba(180,58,77,1) 0%, rgba(253,29,29,0.6222864145658263) 50%, rgba(252,176,69,1) 100%); margin-top: 10px; margin-bottom: 10px; padding: 10px; color: white;">Detail Anggota</h2>
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
            <div class="well profile">
                <div class="col-sm-12">
                    <div>
                        <h2 th:text="${anggota.nama}"></h2>
                        <p><strong th:text="'Tempat Lahir : ' + ${anggota.tempat_lahir}"></strong></p>
                        <p><strong th:text="'Tanggal Lahir : ' + ${#dates.format(anggota.tanggal_lahir, 'yyyy-MM-dd')}"></strong></p>
                        <p><strong th:text="'Alamat : ' + ${anggota.alamat}"></strong></p>
                        <p><strong th:text="'Telepon : ' + ${anggota.nomor_telepon}"></strong></p>
                        <p><strong th:text="'KTP : ' + ${anggota.ktp}"></strong></p>
                        <p><strong th:text="'NIA : ' + ${anggota.nia}"></strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>