<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
        <title>Anggota</title>
      
        <object th:include="fragments/fragment :: css" th:remove="tag"></object>
        <object th:include="fragments/fragment :: js" th:remove="tag"></object>
      </head>
<body>
    <div>
            <nav th:replace="fragments/fragment :: navbar"></nav>
    </div>
    <div class="container" style="margin-top: 100px;">
    <h2>Daftar Anggota</h2>
    <table class="table">
        <thead style="background: rgb(180,58,77);
        background: linear-gradient(90deg, rgba(180,58,77,1) 0%, rgba(253,29,29,0.6222864145658263) 50%, rgba(252,176,69,1) 100%); color: white;">
        <tr>
            <th>No</th>
            <th>NIA</th>
            <th>Nama</th>
            <th>Status Keanggotaan</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="anggota : ${anggotaList}">
            <td><a th:text="${anggota.id}"></a></td>
            <td><a th:text="${anggota.nia}"></a></td>
            <td><a th:text="${anggota.nama}"></a></td>
            <td>
                <a th:if="${anggota.is_pengurus}" th:text="Pengurus"></a>
                <a th:unless="${anggota.is_pengurus}" th:text="Anggota"></a>
            </td>
            <td>
                <button class="btn btn-sm btn-info">
                    <a th:href="@{/anggota/ubah-status?id={id}(id=${anggota.id})}" style="color: white;">Ubah Status</a>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</section>
</body>
</html>